<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ddtong.core.dao.mapper.passport.VLoginUserMapper">
 
	<!-- 校验通过账户登录 --> 
	<select id="getLoginAcc"  resultType="com.ddtong.core.entity.passport.VLoginUser">
		SELECT t.id, 1 AS userType, t.nick_name, t.phone, t.`password`
			, t.pay_password, t.source_uid, t.source_type, t.cid, t.real_name
			, t.state 
		FROM v_login_user t 
		where t.state='0' and t.userType=#{userType} and t.phone=#{phone} and t.password=#{password} 
	</select>
	
	<!-- 第三方登录 -->
	<select id="getLoginThridparty"  resultType="com.ddtong.core.entity.passport.VLoginUser">
		SELECT t.id, 1 AS userType, t.nick_name, t.phone, t.`password`
			, t.pay_password, t.source_uid, t.source_type, t.cid, t.real_name
			, t.state 
		FROM v_login_user t 
		where t.state='0' and t.userType=#{userType} and t.source_uid=#{source_uid} and t.source_type=#{source_type} 
	</select>
	
</mapper>