<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddtong.core.dao.mapper1.merchant.MerchantMapper">

	<resultMap id="BaseResultMap" type="com.ddtong.core.entity.merchant.TMerchant">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="userName" property="userName" jdbcType="VARCHAR" />
		<result column="passWord" property="passWord" jdbcType="VARCHAR" />
		<result column="user_sex" property="userSex"
			javaType="com.ddtong.core.enums.YshDemoSexEnum" />
		<result column="nick_name" property="nickName" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="table"><![CDATA[t_merchant]]></sql>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="allField">
        <![CDATA[id, nick_name, phone, cid, password, real_name, state, source_uid, source_type, 
        		head_pic, recommend_id, create_time, update_time, enterprise_name, shop_name, 
        		industry_type, address, web_site, province_id, city_id,area_id,longitude,latitude,
        		enterprise_code, legal_name, email, business_license, positive_idcard, negative_idcard, 
        		logo, main_business, pay_password]]>
	</sql>

	<resultMap id="entity" type="com.ddtong.core.entity.merchant.TMerchant">
		<result property="id" column="id" />
		<result property="nickName" column="nick_name" />
		<result property="phone" column="phone" />
		<result property="cid" column="cid" />
		<result property="password" column="password" />
		<result property="realName" column="real_name" />
		<result property="state" column="state" />
		<result property="sourceUid" column="source_uid" />
		<result property="sourceType" column="source_type" />
		<result property="headPic" column="head_pic" />
		<result property="recommendId" column="recommend_id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="enterpriseName" column="enterprise_name" />
		<result property="avaSpAmt" column="AVA_SP_AMT" />
		<result property="freezeWdAmt" column="FREEZE_WD_AMT" />
		<result property="freezeSPAmt" column="FREEZE_SP_AMT" />
		<result property="updateTime" column="UPDATE_TIME" />
		<result property="runBatTime" column="RUNBAT_TIME" />
		<result property="avaIntegralUse" column="AVA_INTEGRAL_USE" />
		<result property="actFreezePercent" column="ACT_FREEZE_PERCENT" />
		<result property="activityAmt" column="ACTIVITY_AMT" />
		<result property="activityAmtStatus" column="ACTIVITYAMT_STATUS" />
		<result property="sumActivityAmt" column="SUM_ACTIVITY_AMT" />
		<result property="sumCouponAmt" column="SUM_COUPON_AMT" />
		<result property="couponAmt" column="COUPON_AMT" />
		<result property="avaCouponAmt" column="AVA_COUPON_AMT" />
		<result property="freezeCouponAmt" column="FREEZE_COUPON_AMT" />
		<result property="preWdAmt" column="PRE_WD_AMT" />
	</resultMap>

	<!-- 查询,演示: 1.输入用map传入多个参数 2.<where>语句, 智能添加where和and关键字 3.输出直接映射对象 -->
	<select id="query" parameterType="map" resultMap="entity">
		SELECT
		<include refid="allField" />
		FROM
		<include refid="table" />
		<include refid="findPage" />
		ORDER BY ID DESC
	</select>


</mapper>